.section-xs{
	padding: 35px 0;
}
.section-md{
	padding: 60px 0;
}

.section-creative{
	position: relative;
	> *:not(.float-bg){
		position: relative;
		z-index: 3;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		background: linear-gradient(to bottom, rgba(#fdedd4,.9) 0%, #fff 100%);
	}
	&:after{
		content: attr(data-text);
		position: absolute;
		left: 15px;
		right: 15px;
		text-align: center;
		top: 10px;
		text-transform: uppercase;
		color: rgba(#000,.4);
		z-index: 1;
		user-select: none;
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
		@include media-breakpoint-up(sm) {
			font-size: 40px;
		}
		@include media-breakpoint-up(md) {
			font-size: 60px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 60px;
		}
		@include media-breakpoint-up(xl) {
			font-size: 70px;
			top: 0;
		}
	}
}